@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Roboto:400,500,700,900&display=swap);.carousel-inner {
  overflow: visible;
}

.carousel-control-prev i, .carousel-control-next i {
  font-size: 32px;
  color: #160021;
}

.dropdown-toggle::after {
  content: none;
}

a {
  text-decoration: none !important;
}

body {
  background-color: #EAEAEA;
  font-family: "Lato", sans-serif;
}

.container-home {
  padding-top: 0;
}

.home {
  min-height: 400px;
}

#header {
  position: relative;
}
#header .background-image {
  background: url(/../assets/images/background_guitar.jpg) no-repeat center center;
  transform: scaleX(-1);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  min-height: 400px;
  max-height: 100vh;
  width: 100%;
  z-index: -999;
}
#header .navbar {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 2px 2px 8px #160021;
  transition: 500ms ease;
  background-color: #160021;
}
#header .navbar .scrolled {
  background-color: green;
}
#header .navbar > a {
  color: #EAEAEA;
  font-size: 32px;
  font-weight: 900;
}
#header .navbar .navbar-collapse > ul {
  padding: 15px 0;
  text-align: center;
}
#header .navbar .navbar-collapse > ul li::after {
  content: "";
  border-bottom: 1px solid #EAEAEA;
  width: 50px;
  display: block;
  margin: 0 auto 15px auto;
}
#header .navbar .navbar-collapse > ul li a {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
#header .bg-custom {
  background-color: #160021;
}
#header .header-content #header-title {
  color: #EAEAEA;
  text-align: center;
  padding-top: 156px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 48px;
  position: relative;
}
#header .header-content #header-title span {
  font-weight: 900;
}

.container-fluid {
  font-family: "Lato", sans-serif;
  color: #160021;
  padding-top: 74px;
}

#block-sold {
  width: 100%;
  margin-bottom: 50px;
}
#block-sold > header h2 {
  text-align: center;
  color: #403F4C;
  margin: 75px 0 50px 0;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
#block-sold > header h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #403F4C;
  top: 50%;
  left: 50%;
  transform: translate(-200px, 0);
}
#block-sold > header h2::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #403F4C;
  top: 50%;
  right: 50%;
  transform: translate(200px, 0);
}
#block-sold > header h2::before {
  transform: translate(-220px, 0);
}
#block-sold > header h2::after {
  transform: translate(220px, 0);
}
#block-sold > div .sold-items .item {
  width: 400px;
  border-radius: 15px;
  background-color: white;
  color: #EAEAEA;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (min-width: 992px) {
  #block-sold > div .sold-items .item:hover {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #block-sold > div .sold-items .item:hover .item-content .item-content-price {
    display: none;
  }
  #block-sold > div .sold-items .item:hover .item-content .item-hover {
    display: block;
    overflow: hidden;
    transform: translate(0, 70px);
    width: 100%;
  }
}
#block-sold > div .sold-items .item .item-header {
  max-height: 233px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 300px;
}
#block-sold > div .sold-items .item .item-header .item-header-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#block-sold > div .sold-items .item .item-content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: center;
  position: relative;
}
#block-sold > div .sold-items .item .item-content .item-content-category {
  color: #403F4C;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
}
#block-sold > div .sold-items .item .item-content .item-content-title {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  color: #403F4C;
}
#block-sold > div .sold-items .item .item-content .item-content-title::after {
  content: " ";
  height: 2px;
  width: 200px;
  background-color: #EAEAEA;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -15px;
}
#block-sold > div .sold-items .item .item-content .item-content-price {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
  color: #B102F2;
  margin-top: 15px;
  letter-spacing: 2px;
}
#block-sold > div .sold-items .item .item-content .item-hover {
  display: none;
  position: absolute;
  padding: 0 25px;
  overflow: hidden;
  left: 0;
  top: 50px;
  background-color: white;
  transform: translate(0, 0);
  transition: all 2s linear;
  box-shadow: 0 4px 2px -2px #160021;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 999;
}
#block-sold > div .sold-items .item .item-content .item-hover .item-hover-rating > i {
  margin: 5px;
  color: #E6C300;
}
#block-sold > div .sold-items .item .item-content .item-hover .item-hover-description {
  margin: 15px 0;
  min-height: 63px;
  max-height: 63px;
  font-size: 14px;
  color: #403F4C;
  position: relative;
}
#block-sold > div .sold-items .item .item-content .item-hover .item-hover-description::after {
  content: " ";
  height: 2px;
  width: 200px;
  background-color: #EAEAEA;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -5px;
}
#block-sold > div .sold-items .item .item-content .item-hover .item-hover-btns .item-hover-favorite {
  background-color: #EAEAEA;
  height: 50px;
  width: 50px;
  margin: 15px;
  border-radius: 25px;
}
#block-sold > div .sold-items .item .item-content .item-hover .item-hover-btns .item-hover-favorite:hover i {
  color: #B102F2;
}
#block-sold > div .sold-items .item .item-content .item-hover .item-hover-btns .item-hover-favorite i {
  color: #FF5A5F;
  font-size: 24px;
  align-self: center;
}
#block-sold > div .sold-items .item .item-content .item-hover .item-hover-btns .item-hover-buy {
  color: #B102F2;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  align-self: center;
}
#block-sold > div .sold-items .item .item-content .item-hover .item-hover-btns .item-hover-buy:hover {
  font-weight: 400;
}

#block-newest {
  width: 100%;
  margin-bottom: 50px;
}
#block-newest > header h2 {
  text-align: center;
  color: #403F4C;
  margin: 75px 0 50px 0;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
#block-newest > header h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #403F4C;
  top: 50%;
  left: 50%;
  transform: translate(-200px, 0);
}
#block-newest > header h2::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #403F4C;
  top: 50%;
  right: 50%;
  transform: translate(200px, 0);
}
#block-newest > div .newest-items .item {
  width: 400px;
  border-radius: 15px;
  background-color: white;
  color: #EAEAEA;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (min-width: 992px) {
  #block-newest > div .newest-items .item:hover {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #block-newest > div .newest-items .item:hover .item-content .item-content-price {
    display: none;
  }
  #block-newest > div .newest-items .item:hover .item-content .item-hover {
    display: block;
    overflow: hidden;
    transform: translate(0, 70px);
    width: 100%;
  }
}
#block-newest > div .newest-items .item .item-header {
  max-height: 233px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 300px;
}
#block-newest > div .newest-items .item .item-header .item-header-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#block-newest > div .newest-items .item .item-content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: center;
  position: relative;
}
#block-newest > div .newest-items .item .item-content .item-content-category {
  color: #403F4C;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
}
#block-newest > div .newest-items .item .item-content .item-content-title {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  color: #403F4C;
}
#block-newest > div .newest-items .item .item-content .item-content-title::after {
  content: " ";
  height: 2px;
  width: 200px;
  background-color: #EAEAEA;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -15px;
}
#block-newest > div .newest-items .item .item-content .item-content-price {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
  color: #B102F2;
  margin-top: 15px;
  letter-spacing: 2px;
}
#block-newest > div .newest-items .item .item-content .item-hover {
  display: none;
  position: absolute;
  padding: 0 25px;
  overflow: hidden;
  left: 0;
  top: 50px;
  background-color: white;
  transform: translate(0, 0);
  transition: all 2s linear;
  box-shadow: 0 4px 2px -2px #160021;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 999;
}
#block-newest > div .newest-items .item .item-content .item-hover .item-hover-rating > i {
  margin: 5px;
  color: #E6C300;
}
#block-newest > div .newest-items .item .item-content .item-hover .item-hover-description {
  margin: 15px 0;
  min-height: 63px;
  max-height: 63px;
  font-size: 14px;
  color: #403F4C;
  position: relative;
}
#block-newest > div .newest-items .item .item-content .item-hover .item-hover-description::after {
  content: " ";
  height: 2px;
  width: 200px;
  background-color: #EAEAEA;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -5px;
}
#block-newest > div .newest-items .item .item-content .item-hover .item-hover-btns .item-hover-favorite {
  background-color: #EAEAEA;
  height: 50px;
  width: 50px;
  margin: 15px;
  border-radius: 25px;
}
#block-newest > div .newest-items .item .item-content .item-hover .item-hover-btns .item-hover-favorite:hover i {
  color: #B102F2;
}
#block-newest > div .newest-items .item .item-content .item-hover .item-hover-btns .item-hover-favorite i {
  color: #FF5A5F;
  font-size: 24px;
  align-self: center;
}
#block-newest > div .newest-items .item .item-content .item-hover .item-hover-btns .item-hover-buy {
  color: #B102F2;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  align-self: center;
}
#block-newest > div .newest-items .item .item-content .item-hover .item-hover-btns .item-hover-buy:hover {
  font-weight: 400;
}

#block-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
#block-categories > header h2 {
  text-align: center;
  color: #403F4C;
  margin: 75px 0 50px 0;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
#block-categories > header h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #403F4C;
  top: 50%;
  left: 50%;
  transform: translate(-200px, 0);
}
#block-categories > header h2::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #403F4C;
  top: 50%;
  right: 50%;
  transform: translate(200px, 0);
}
#block-categories #carousel-3 {
  width: 100%;
}
#block-categories .categories {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#block-categories .categories a {
  min-width: 350px;
  width: 100%;
  max-width: 450px;
  min-height: 300px;
  max-height: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}
#block-categories .categories .category {
  margin-bottom: 25px;
  min-width: 350px;
  width: 100%;
  max-width: 450px;
  min-height: 300px;
  max-height: 300px;
  overflow: hidden;
  position: relative;
  background: #c64cc4;
  background: linear-gradient(223deg, rgba(198, 76, 196, 0.8) 0%, rgba(254, 129, 77, 0.8) 100%);
  border-radius: 15px;
  color: #EAEAEA;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#block-categories .categories .category h3 {
  font-weight: 900;
  font-size: 36px;
}
#block-categories .categories .category img {
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
}

.desktop {
  display: none;
}

#block-shop {
  margin: 0 auto;
}
#block-shop header h2 {
  text-align: center;
  color: #403F4C;
  margin: 75px 0 50px 0;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin: 25px 0 5px 0;
}
#block-shop header h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #403F4C;
  top: 50%;
  left: 50%;
  transform: translate(-200px, 0);
}
#block-shop header h2::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #403F4C;
  top: 50%;
  right: 50%;
  transform: translate(200px, 0);
}
#block-shop > p button {
  color: #B102F2;
  font-size: 1.6rem;
}
#block-shop #block-filter #filter-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 25px 0;
  margin: 0;
}
#block-shop #block-filter #filter-list .filter-list-item {
  margin: 0 7.5px;
  border: 1px solid #403F4C;
  padding: 7.5px 15px;
  border-radius: 30px;
}
#block-shop #block-filter #filter-list .category-desktop {
  display: none;
}
#block-shop #block-filter #show-filter {
  display: flex;
  justify-content: center;
}
#block-shop #block-filter #show-filter #instrument-filter-option {
  position: relative;
  display: none;
  visibility: hidden;
}
#block-shop #block-filter #show-filter #instrument-filter-option #instruments {
  width: 250px;
  border: 1px solid #160021;
  padding: 7.5px 15px;
  border-radius: 25px;
  background-color: transparent;
  margin-top: -10px;
  color: #403F4C;
  transition: visibility 2s linear;
  z-index: 999;
  margin-bottom: 15px;
  -webkit-appearance: none;
}
#block-shop #block-filter #show-filter #instrument-filter-option #instruments::-ms-expand {
  display: none;
}
#block-shop #block-filter #show-filter #instrument-filter-option i {
  position: absolute;
  left: 220px;
  top: 5px;
  color: #403F4C;
}
#block-shop #block-shop-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
#block-shop #block-shop-items .item {
  width: 400px;
  border-radius: 15px;
  background-color: white;
  color: #EAEAEA;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 12.5px auto;
  min-width: 300px;
  width: auto;
  max-width: 400px;
  left: auto;
  transform: none;
}
@media (min-width: 992px) {
  #block-shop #block-shop-items .item:hover {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #block-shop #block-shop-items .item:hover .item-content .item-content-price {
    display: none;
  }
  #block-shop #block-shop-items .item:hover .item-content .item-hover {
    display: block;
    overflow: hidden;
    transform: translate(0, 70px);
    width: 100%;
  }
}
#block-shop #block-shop-items .item .item-header {
  max-height: 233px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 300px;
}
#block-shop #block-shop-items .item .item-header .item-header-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#block-shop #block-shop-items .item .item-content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: center;
  position: relative;
}
#block-shop #block-shop-items .item .item-content .item-content-category {
  color: #403F4C;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
}
#block-shop #block-shop-items .item .item-content .item-content-title {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  color: #403F4C;
}
#block-shop #block-shop-items .item .item-content .item-content-title::after {
  content: " ";
  height: 2px;
  width: 200px;
  background-color: #EAEAEA;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -15px;
}
#block-shop #block-shop-items .item .item-content .item-content-price {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
  color: #B102F2;
  margin-top: 15px;
  letter-spacing: 2px;
}
#block-shop #block-shop-items .item .item-content .item-hover {
  display: none;
  position: absolute;
  padding: 0 25px;
  overflow: hidden;
  left: 0;
  top: 50px;
  background-color: white;
  transform: translate(0, 0);
  transition: all 2s linear;
  box-shadow: 0 4px 2px -2px #160021;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 999;
}
#block-shop #block-shop-items .item .item-content .item-hover .item-hover-rating > i {
  margin: 5px;
  color: #E6C300;
}
#block-shop #block-shop-items .item .item-content .item-hover .item-hover-description {
  margin: 15px 0;
  min-height: 63px;
  max-height: 63px;
  font-size: 14px;
  color: #403F4C;
  position: relative;
}
#block-shop #block-shop-items .item .item-content .item-hover .item-hover-description::after {
  content: " ";
  height: 2px;
  width: 200px;
  background-color: #EAEAEA;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -5px;
}
#block-shop #block-shop-items .item .item-content .item-hover .item-hover-btns .item-hover-favorite {
  background-color: #EAEAEA;
  height: 50px;
  width: 50px;
  margin: 15px;
  border-radius: 25px;
}
#block-shop #block-shop-items .item .item-content .item-hover .item-hover-btns .item-hover-favorite:hover i {
  color: #B102F2;
}
#block-shop #block-shop-items .item .item-content .item-hover .item-hover-btns .item-hover-favorite i {
  color: #FF5A5F;
  font-size: 24px;
  align-self: center;
}
#block-shop #block-shop-items .item .item-content .item-hover .item-hover-btns .item-hover-buy {
  color: #B102F2;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  align-self: center;
}
#block-shop #block-shop-items .item .item-content .item-hover .item-hover-btns .item-hover-buy:hover {
  font-weight: 400;
}

#block-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}
#block-detail #detail-header {
  order: 0;
}
#block-detail #detail-header h2 {
  font-size: 48px;
  font-weight: 600;
}
#block-detail #detail-header #rating-review {
  margin: 25px 0;
  align-items: center;
}
#block-detail #detail-header #rating-review #detail-info {
  display: flex;
  justify-content: space-between;
}
#block-detail #detail-header #rating-review #detail-info .ratings .rating-star {
  font-size: 24px;
  margin: 0 2.5px;
  color: #E6C300;
}
#block-detail #detail-header #rating-review #detail-info .ratings .rating-star:first-child {
  margin-left: 0;
}
#block-detail #detail-header #rating-review #detail-info #review-counter #review-count {
  margin-bottom: 0;
  font-size: 24px;
}
#block-detail #detail-header #content-filters {
  width: 100%;
}
#block-detail #detail-header #content-filters #content-brand {
  font-size: 24px;
  font-weight: 600;
}
#block-detail #detail-header #content-filters #content-specifications {
  font-size: 18px;
}
#block-detail #detail-helper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#block-detail #detail-helper #detail-content {
  align-self: center;
  order: -1;
  flex: 2;
}
#block-detail #detail-helper #detail-content #content-description > p {
  border-bottom: 1px solid #160021;
  margin: 25px 0;
  padding-bottom: 25px;
  text-align: justify;
}
#block-detail #detail-helper #detail-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 5;
}
#block-detail #detail-helper #detail-image #image-main {
  width: 100%;
  overflow: hidden;
}
#block-detail #detail-helper #detail-image #image-main > img {
  width: 100%;
}
#block-detail #detail-helper #detail-image #image-diff {
  display: flex;
}
#block-detail #detail-helper #detail-image #image-diff .image-diff-box {
  margin: 6px 3px;
  width: 100%;
  overflow: hidden;
}
#block-detail #detail-helper #detail-image #image-diff .image-diff-box:first-child {
  margin-left: 0;
}
#block-detail #detail-helper #detail-image #image-diff .image-diff-box:last-child {
  margin-right: 0;
}
#block-detail #detail-helper #detail-image #image-diff .image-diff-box > img {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
}
#block-detail #detail-helper #content-buy {
  margin: 25px 0;
  width: 450px;
  align-self: center;
  border-bottom: 1px solid #160021;
  padding-bottom: 25px;
  flex: 1;
}
#block-detail #detail-helper #content-buy > form #price {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
#block-detail #detail-helper #content-buy > form #input-quantity {
  position: relative;
  display: flex;
  justify-content: center;
}
#block-detail #detail-helper #content-buy > form #input-quantity #qty_input {
  margin: 0 15px;
  -moz-text-align-last: center;
       text-align-last: center;
  font-size: 16px;
  width: 150px;
}
#block-detail #detail-helper #content-buy > form #input-quantity .input-group-prepend > span {
  padding: 5px 10px;
}

#block-related-products {
  width: 100%;
  margin-bottom: 25px;
  border-bottom: 1px solid #160021;
  padding-bottom: 25px;
}
#block-related-products > header h2 {
  text-align: center;
  color: #403F4C;
  margin: 75px 0 50px 0;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
}
#block-related-products > header h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #403F4C;
  top: 50%;
  left: 50%;
  transform: translate(-200px, 0);
}
#block-related-products > header h2::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #403F4C;
  top: 50%;
  right: 50%;
  transform: translate(200px, 0);
}
#block-related-products > header h2::before {
  content: none;
}
#block-related-products > header h2::after {
  content: none;
}
#block-related-products > div .related-items .item {
  width: 400px;
  border-radius: 15px;
  background-color: white;
  color: #EAEAEA;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
}
@media (min-width: 992px) {
  #block-related-products > div .related-items .item:hover {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #block-related-products > div .related-items .item:hover .item-content .item-content-price {
    display: none;
  }
  #block-related-products > div .related-items .item:hover .item-content .item-hover {
    display: block;
    overflow: hidden;
    transform: translate(0, 70px);
    width: 100%;
  }
}
#block-related-products > div .related-items .item .item-header {
  max-height: 233px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 300px;
}
#block-related-products > div .related-items .item .item-header .item-header-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#block-related-products > div .related-items .item .item-content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: center;
  position: relative;
}
#block-related-products > div .related-items .item .item-content .item-content-category {
  color: #403F4C;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
}
#block-related-products > div .related-items .item .item-content .item-content-title {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  color: #403F4C;
}
#block-related-products > div .related-items .item .item-content .item-content-title::after {
  content: " ";
  height: 2px;
  width: 200px;
  background-color: #EAEAEA;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -15px;
}
#block-related-products > div .related-items .item .item-content .item-content-price {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
  color: #B102F2;
  margin-top: 15px;
  letter-spacing: 2px;
}
#block-related-products > div .related-items .item .item-content .item-hover {
  display: none;
  position: absolute;
  padding: 0 25px;
  overflow: hidden;
  left: 0;
  top: 50px;
  background-color: white;
  transform: translate(0, 0);
  transition: all 2s linear;
  box-shadow: 0 4px 2px -2px #160021;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 999;
}
#block-related-products > div .related-items .item .item-content .item-hover .item-hover-rating > i {
  margin: 5px;
  color: #E6C300;
}
#block-related-products > div .related-items .item .item-content .item-hover .item-hover-description {
  margin: 15px 0;
  min-height: 63px;
  max-height: 63px;
  font-size: 14px;
  color: #403F4C;
  position: relative;
}
#block-related-products > div .related-items .item .item-content .item-hover .item-hover-description::after {
  content: " ";
  height: 2px;
  width: 200px;
  background-color: #EAEAEA;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -5px;
}
#block-related-products > div .related-items .item .item-content .item-hover .item-hover-btns .item-hover-favorite {
  background-color: #EAEAEA;
  height: 50px;
  width: 50px;
  margin: 15px;
  border-radius: 25px;
}
#block-related-products > div .related-items .item .item-content .item-hover .item-hover-btns .item-hover-favorite:hover i {
  color: #B102F2;
}
#block-related-products > div .related-items .item .item-content .item-hover .item-hover-btns .item-hover-favorite i {
  color: #FF5A5F;
  font-size: 24px;
  align-self: center;
}
#block-related-products > div .related-items .item .item-content .item-hover .item-hover-btns .item-hover-buy {
  color: #B102F2;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  align-self: center;
}
#block-related-products > div .related-items .item .item-content .item-hover .item-hover-btns .item-hover-buy:hover {
  font-weight: 400;
}

#block-reviews > header h2 {
  text-align: center;
  color: #403F4C;
  margin: 75px 0 50px 0;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
}
#block-reviews > header h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #403F4C;
  top: 50%;
  left: 50%;
  transform: translate(-200px, 0);
}
#block-reviews > header h2::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #403F4C;
  top: 50%;
  right: 50%;
  transform: translate(200px, 0);
}
#block-reviews > header h2::before {
  content: none;
}
#block-reviews > header h2::after {
  content: none;
}
#block-reviews #reviews-container .scrolled {
  background-color: transparent !important;
}
#block-reviews #reviews-container .tab-content #nav-read .review:first-child {
  margin-top: 25px;
}
#block-reviews #reviews-container .tab-content #nav-read .review:last-child #review-content {
  border-bottom: none;
  padding-bottom: 0;
}
#block-reviews #reviews-container .tab-content #nav-read .review > header .img-holder {
  border-radius: 50%;
  overflow: hidden;
  height: 80px;
  width: 80px;
  margin-right: 35px;
}
#block-reviews #reviews-container .tab-content #nav-read .review > header .img-holder img {
  height: 100%;
  -o-object-position: center;
     object-position: center;
}
#block-reviews #reviews-container .tab-content #nav-read .review > header h2 {
  font-size: 24px;
  text-align: center;
  align-self: center;
  font-weight: 400;
}
#block-reviews #reviews-container .tab-content #nav-read .review .review-content {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #160021;
}
#block-reviews #reviews-container .tab-content #nav-read .review .review-content .review-ratings {
  font-size: 24px;
  color: #E6C300;
  display: flex;
  margin-top: 15px;
}
#block-reviews #reviews-container .tab-content #nav-read .review .review-content .review-ratings > i {
  margin: 0 3px;
}
#block-reviews #reviews-container .tab-content #nav-read .review .review-content .review-writing {
  margin-top: 25px;
}
#block-reviews #reviews-container .tab-content #nav-write {
  margin-bottom: 25px;
}
#block-reviews #reviews-container .tab-content #nav-write #review-write .review-write-holder {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
#block-reviews #reviews-container .tab-content #nav-write #review-write .review-write-holder label {
  font-size: 18px;
}
#block-reviews #reviews-container .tab-content #nav-write #review-write .review-write-holder input, #block-reviews #reviews-container .tab-content #nav-write #review-write .review-write-holder select, #block-reviews #reviews-container .tab-content #nav-write #review-write .review-write-holder textarea {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
#block-reviews #reviews-container .tab-content #nav-write #review-write .review-write-holder select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
}
#block-reviews #reviews-container .tab-content #nav-write #review-write .review-write-holder textarea {
  resize: none;
}

#block-checkout #accordion {
  margin: 25px 0;
}
#block-checkout #accordion .panel #collapseOne .panel-body #myTab {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
#block-checkout #accordion .panel #collapseOne .panel-body #myTab .nav-item {
  font-size: 18px;
}
#block-checkout #block-overview > header h2 {
  font-size: 36px;
}
#block-checkout #block-overview #overview-products .submit {
  margin-top: 0;
  margin-bottom: 25px;
}

#block-address > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#block-address > div .address-header h2 {
  margin-bottom: 25px;
}
#block-address > div .input-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}
#block-address > div .input-main .input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;
}
#block-address > div .input-main .input-field label {
  margin-bottom: 10px;
  font-size: 16px;
}
#block-address > div .input-main .input-field label i {
  margin-right: 15px;
}
#block-address > div .input-main .input-field input {
  border-style: none;
  padding: 10px 25px;
  border-radius: 10px;
}
#block-address > div .input-main .submit {
  margin-bottom: 25px;
}

#block-billing {
  display: flex;
  flex-direction: column;
}
#block-billing > header {
  text-align: center;
}
#block-billing #billing-content {
  margin: 50px 0;
}
#block-billing #billing-content #billing-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#block-billing #billing-content #billing-options .billing-option {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 6px;
}
#block-billing #billing-content #billing-options .billing-option:first-child {
  border: 3px solid #B102F2;
  background-color: #FFF;
}
#block-billing #billing-content #billing-options .billing-option:hover {
  border: 3px solid #B102F2;
}
#block-billing #billing-content #billing-options .billing-option i {
  font-size: 96px;
}
#block-billing .submit {
  width: 80%;
  margin: 0 0 25px 0;
  align-self: center;
}

footer {
  background-color: #160021;
  color: #EAEAEA;
  padding: 25px 50px;
}
footer #brand {
  color: #EAEAEA;
  font-size: 32px;
  font-weight: 900;
}
footer div .footer-title {
  font-weight: 700;
  font-size: 18px;
  margin-top: 25px;
}
footer div .footer-list {
  list-style: none;
  padding-left: 0;
}
footer div .footer-list li {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
footer div .footer-list li i {
  width: 30px;
}
footer div .footer-list li a {
  text-decoration: none;
  color: #EAEAEA;
  font-size: 14px;
}
footer div .footer-list li a:hover {
  color: #FFF;
  font-size: 15px;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99999;
  border: none;
  outline: none;
  background-color: #160021;
  color: white;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  font-size: 18px;
}

#topBtn:hover {
  background-color: #403F4C;
}

table {
  width: 100%;
  margin: 25px 0 50px 0;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFF;
  border: 5px solid #FFF;
  box-shadow: 0px 0px 137px -42px rgba(0, 0, 0, 0.75);
}
table thead {
  background-color: #160021;
  color: #EAEAEA;
}
table thead tr th {
  font-size: 18px;
  padding: 25px;
}
table thead tr th:last-child {
  text-align: right;
}
table tbody {
  background-color: #FFF;
}
table tbody tr:nth-child(even) {
  background-color: #EAEAEA;
}
table tbody tr td {
  padding: 25px;
  font-size: 16px;
}
table tbody tr td:last-child {
  text-align: right;
}
table tfoot {
  text-align: right;
  margin-top: 5px;
  border-top: 3px solid #160021;
}
table tfoot tr td {
  padding: 25px;
}
table tfoot tr #table-total {
  padding-bottom: 0;
}
table tfoot tr #table-price {
  font-size: 24px;
  padding-top: 0;
}

.submit {
  border-style: none;
  background-color: #160021;
  color: #FFF;
  font-size: 18px;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  margin-top: 25px;
}
.submit:hover {
  background-color: #B102F2;
}

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.payment-group {
  width: 350px;
}

.fade:not(.show) {
  display: none;
}

@media (min-width: 576px) {
  #header nav div .cart ul .dropdown .cartCount {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    height: 15px;
    width: 15px;
    background-color: #ff3854;
    border-radius: 50%;
    padding: 3px;
  }
  #header nav div .cart ul .dropdown .cartCount span {
    font-size: 9pt;
  }

  #block-shop #block-filter #filter-list .category-desktop {
    display: block;
  }
  #block-shop #block-shop-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  #block-shop #block-shop-items .item {
    margin: 25px 7.5px;
    width: 300px;
  }

  #block-related-products > div .related-items .item {
    width: 400px;
  }
}
@media (min-width: 768px) {
  #block-checkout #myTabContent #home #overview-products {
    display: flex;
    flex-direction: column;
  }
  #block-checkout #myTabContent #home #overview-products table {
    justify-content: center;
  }
  #block-checkout #myTabContent #home #overview-products .submit {
    width: 50%;
    align-self: flex-end;
  }
}
@media (min-width: 992px) {
  .row {
    max-width: 1920px;
    margin: 0 auto;
  }

  .scrolled {
    background-color: #160021 !important;
  }

  .home {
    height: 100vh;
  }

  #header {
    min-height: auto;
    overflow: hidden;
    z-index: 23903;
  }
  #header .background-image {
    height: 100vh;
    width: 145%;
    overflow: hidden;
  }
  #header .navbar {
    padding: 0 185px;
    position: fixed;
  }
  #header .navbar > a {
    margin-right: 15px;
    margin-top: 5px;
  }
  #header .navbar .navbar-collapse > ul {
    padding: 5px 0;
    margin-top: 10px;
  }
  #header .navbar .navbar-collapse > ul li {
    align-self: center;
  }
  #header .navbar .navbar-collapse > ul li::after {
    display: none;
  }
  #header .navbar .navbar-collapse > ul li .nav-link {
    font-size: 18px;
  }
  #header .navbar .navbar-collapse > ul li .nav-link:hover {
    font-weight: 400;
  }
  #header .navbar .navbar-collapse > ul li i {
    padding: 0.5rem;
    font-size: 24px;
    color: #EAEAEA;
    cursor: pointer;
  }
  #header .navbar .navbar-collapse > ul li i:hover {
    color: #B102F2;
  }
  #header .navbar .navbar-collapse > ul li .dropdown-cart {
    margin-left: -257px;
    padding: 5px;
    border-radius: 10px;
  }
  #header .navbar .navbar-collapse > ul li .dropdown-cart > li {
    min-width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .navbar .navbar-collapse > ul li .dropdown-cart > li .cart-img {
    overflow: hidden;
    width: 65px;
    height: 65px;
    margin: 5px;
    border-radius: 10px;
  }
  #header .navbar .navbar-collapse > ul li .dropdown-cart > li .cart-img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #header .navbar .navbar-collapse > ul li .dropdown-cart > li .cart-title {
    text-align: center;
  }
  #header .navbar .navbar-collapse > ul li .dropdown-cart > li .cart-title p {
    margin: 3px;
  }
  #header .navbar .navbar-collapse > ul li .dropdown-cart > li .cart-title p:first-child {
    font-weight: 600;
  }
  #header .navbar .navbar-collapse > ul li .dropdown-cart > li .cart-remove {
    margin: 5px;
  }
  #header .navbar .navbar-collapse > ul li .dropdown-cart > li .cart-remove:hover {
    background-color: #e63030;
    border-radius: 10px;
  }
  #header .navbar .navbar-collapse > ul li .dropdown-cart > li .cart-remove i {
    color: #e63030;
  }
  #header .navbar .navbar-collapse > ul li .dropdown-cart > li .cart-remove:hover i {
    color: #EAEAEA;
  }
  #header .navbar .navbar-collapse > ul li .dropdown-cart > li #cart-link {
    background-color: #160021;
    color: #EAEAEA;
    width: 100%;
    padding: 7.5px 25px;
    border-radius: 10px;
    margin: 5px;
  }
  #header .navbar .navbar-collapse > ul li .dropdown-cart > li #cart-link:hover {
    background-color: #B102F2;
  }
  #header .navbar .navbar-collapse > ul .search {
    position: relative;
  }
  #header .navbar .navbar-collapse > ul .search input {
    position: absolute;
    display: none;
    top: 41px;
    right: 0;
    width: 250px;
    border-style: none;
    border-radius: 5px;
    padding: 5px 15px;
  }
  #header .bg-home {
    background-color: transparent;
    box-shadow: none;
  }
  #header .header-content {
    margin-left: 150px;
  }
  #header .header-content #header-title {
    padding-top: 0;
    text-align: left;
    font-size: 96px;
  }
  #header .header-content > p {
    font-size: 24px;
    color: #EAEAEA;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 600px;
  }
  #header .header-content .header-btns {
    width: 400px;
    font-size: 20px;
  }
  #header .header-content .header-btns .btn-shop, #header .header-content .header-btns .btn-contact {
    padding: 12px 20px;
    width: 250px;
    border: 2.5px solid #B102F2;
    text-decoration: none;
    color: #EAEAEA;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
  }
  #header .header-content .header-btns .btn-shop {
    margin-right: 25px;
  }
  #header .header-content .header-btns .btn-shop:hover {
    background-color: #B102F2;
    font-weight: 400;
  }
  #header .header-content .header-btns .btn-contact:hover {
    background-color: #160021;
    font-weight: 400;
  }

  #block-sold > div .sold-items {
    padding: 0 50px;
  }
  #block-sold > div .sold-items .item {
    width: 350px;
    top: auto;
    left: auto;
    transform: none;
    margin-bottom: 50px;
  }
  #block-sold > div .sold-items .item header {
    max-height: 233px;
  }

  #block-newest > header h2 {
    margin-top: 75px;
  }
  #block-newest > div .newest-items {
    padding: 0 50px;
  }
  #block-newest > div .newest-items .item {
    width: 350px;
    top: auto;
    left: auto;
    transform: none;
    margin-bottom: 50px;
  }
  #block-newest > div .newest-items .item header {
    max-height: 233px;
  }

  #block-categories .categories-articles {
    width: 100%;
  }
  #block-categories .categories-articles .categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .desktop {
    display: block;
  }

  #block-shop #block-shop-items .mobile-only {
    display: none;
  }
  #block-shop #block-shop-items #collapseFilters #block-filter #collapseCategory > div .categories .filter-btn.active {
    border: 1px solid red;
  }

  #block-detail > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  #block-detail > div #detail-helper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 35vw;
    width: 100%;
  }
  #block-detail > div #detail-helper #detail-content {
    box-sizing: border-box;
    display: flex;
    order: 2;
    width: 45%;
    flex: 0 0 30%;
  }
  #block-detail > div #detail-helper #detail-content #content-description p {
    margin: 0;
    border-bottom: none;
  }
  #block-detail > div #detail-helper #detail-image {
    box-sizing: border-box;
    display: flex;
    order: 1;
    flex: 0 0 100%;
    width: 45%;
  }
  #block-detail > div #detail-helper #content-buy {
    display: flex;
    order: 3;
    flex: 1;
    width: 45%;
    height: 100px;
    border-bottom: none;
    padding-bottom: 0;
    border-bottom: 0;
  }
  #block-detail > div #detail-helper #content-buy > form {
    width: 100%;
  }
  #block-detail > div #detail-helper #content-buy > form #input-quantity #qty_input {
    width: 80%;
  }

  #block-related-products {
    margin-top: 25px;
  }
  #block-related-products > div .related-items .item {
    width: 300px;
    transform: none;
    left: auto;
    margin-bottom: 25px;
  }

  #block-reviews #reviews-container #nav-tabContent #nav-write form button {
    width: 250px;
  }

  #block-checkout #checkout-nav {
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
  }
  #block-checkout #checkout-nav #nav-circles {
    display: flex !important;
    justify-content: space-between;
  }
  #block-checkout #checkout-nav #nav-circles .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
  }
  #block-checkout #checkout-nav #nav-circles .circle i {
    color: #160021;
    font-size: 40px;
  }
  #block-checkout #checkout-nav #nav-circles .circle #preview {
    color: #FFF;
  }
  #block-checkout #checkout-nav #nav-circles .circle1 {
    background-color: #160021;
  }
  #block-checkout #checkout-nav #checkout-nav-line {
    top: calc(50% - 10px);
    left: 0.5%;
    height: 20px;
    width: 99%;
    background: linear-gradient(90deg, #160021 27.5%, #FFF 27.5%);
    position: absolute;
    z-index: -99;
  }
  #block-checkout #myTabContent #home #overview-products #buy-table tbody tr td:first-child {
    display: flex;
    align-items: center;
  }
  #block-checkout #myTabContent #home #overview-products #buy-table tbody tr td img {
    width: 150px;
    margin-right: 25px;
  }
  #block-checkout #myTabContent #profile #block-address > div {
    display: flex;
    flex-direction: column;
  }
  #block-checkout #myTabContent #profile #block-address > div .address-header h2 {
    margin: 50px 0;
  }
  #block-checkout #myTabContent #profile #block-address > div .input-main {
    flex-direction: row;
    justify-content: space-between;
  }
  #block-checkout #myTabContent #profile #block-address > div .input-main .input-field {
    width: 45%;
  }
  #block-checkout #myTabContent #profile #block-address > div .submit {
    width: 45%;
    margin: 50px 0;
  }
  #block-checkout #myTabContent #profile #block-address > div .submit-field {
    justify-content: flex-end;
  }
  #block-checkout #myTabContent #contact #block-billing .submit {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .custom-paginate {
    background-color: transparent !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}